/*******************************************************************************
*
*  Layout » Main
*
*******************************************************************************/

#container {
  width: perc(800px, $CONTEXT_SITE_WIDTH);
  margin: 0 auto;
  padding-top: em(32px, $CONTEXT_FONT_SIZE);
}