/*******************************************************************************
*
*  Layout » Sections
*
*******************************************************************************/

/*********************************************************************
*  =Home
*********************************************************************/

.page-home .primary-bt {
  width: 100%;
  max-width: em(300px, $CONTEXT_FONT_SIZE);
  padding-left: 0;
  padding-right: 0;
}

.guide-link { text-align: center; }

/*********************************************************************
*  =Guides
*********************************************************************/

.page-guide h2 ~ h2 {
  padding-top: em(32px, 32px);
}

.page-guide h3 ~ h3 {
  padding-top: em(16px, 24px);
}

.page-guide h5 {
  padding-top: em(16px, 16px);
}

.page-guide h2 ~ p {
  margin-left: 1.5em;
}

.page-guide h4 { margin-left: em(24px, 24px); }

.page-guide h5 { margin-left: em(24px, 16px); }

.page-guide pre {
  margin-left: em(48px, 16px);
  margin-right: em(48px, 16px);
}